<div class="row">
  <div class="enpi-section">
    <h3>Energiekennzahlen jetzt!</h3>
    <button class="button" name="button">Email an hello@enpiserive.de</button>

    <h5>Energieziele erreichen mit starken Energiekennzahlen</h5>
    <p>
      EnPI ist eine Software zum erreichen Ihrer Energieziele. Es hilft Ihnen dabei Energieverbrauchsfunktionen und Energiekennzahlen für den quantitativen Nachweis für ISO Zertifikate (z.B. 500001:2018, 500006) zu erstellen.
    <p>

    <h5>EnPI, Ihr digitaler Energieassistent</h5>
    <p>
      Denn desto schneller Sie Ihre Ziele erreichen, desto mehr Geld und CO₂ sparen Sie für Ihr Unternehmen.
    </p>
  </div>
  <div class="enpi-section">
    <picture>
      <source media="(max-width: 899px)" srcset="/assets/img/enpi_tablet-phone-small_228w.jpg, /assets/img/enpi_tablet-phone-small_455w.jpg 2x">
      <source media="(max-width: 900px)" srcset="/assets/img/enpi_tablet-phone_427w.jpg, /assets/img/enpi_tablet-phone_854w.jpg 2x">
      <img src="/assets/img/enpi_tablet-phone_427w.jpg" alt="EnPI Interface auf einem Tablet und einem Smartphone">
    </picture>
  </div>
</div>

<div class="row row-right">
  <div class="enpi-section">
    <h4>Probleme</h4>
    <p>
      Der <strong>Zeitaufwand</strong> für das Energiemanagement ist zu groß (gerade vor einem Audit) 
    </p>
    <p>
      Excel ist <strong>fehleranfällig</strong> und wird mit den vielen Daten immer unübersichtlicher
    </p>
    <p>
      Bestehende Energiemanagement Softwarelösungen sind kompliziert und teuer
    </p>
  </div>
  <div class="enpi-section">
    <h4>Lösungen</h4>
    <p>
      Der <strong>Zeitaufwand</strong> für das Energiemanagement ist zu groß (gerade vor einem Audit) 
    </p>
    <p>
      Excel ist <strong>fehleranfällig</strong> und wird mit den vielen Daten immer unübersichtlicher
    </p>
    <p>
      Bestehende Energiemanagement Softwarelösungen sind kompliziert und teuer
    </p>
  </div>
  <div class="enpi-section">
    <h3>Jetzt mit EnPi loslegen</h3>
    <button class="button" name="button">Email an hello@enpiserive.de</button>
  </div>
</div>
