{% assign texts = site.texts %}

<div class="highlight-bg">
  <div class="row">
    <div class="hero-section">
      {%- comment -%} section01.md {%- endcomment -%}
      {{ texts[0].content }}  
    </div>
  </div>
</div>
  <div class="row">
    <div class="enpi-section">
      {{ texts[1].content }}  
    </div>
    <div class="enpi-section screenshot">
      <picture class="enpi-screenshot">
        <source media="(max-width: 320px)" srcset="/assets/img/Screen_App_320.png, /assets/img/Screen_App_320@2x.png 2x">
        <source media="(min-width: 321px)" srcset="/assets/img/Screen_App_1440.png">
        <img src="/assets/img/Screen_App_1440.png" alt="EnPI Interface auf einem Tablet und einem Smartphone">
      </picture>
    </div>
  </div>  

<div class="highlight-bg-half">
  <div class="row">
    <div class="enpi-section">
      {%- comment -%} section03.md {%- endcomment -%}
      {{ texts[2].content }}
    </div>
    <div class="enpi-section bottom">
      <div class="container">
      {%- comment -%} section04.md {%- endcomment -%}
      {{ texts[3].content }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="enpi-section">
    {%- comment -%} section05.md {%- endcomment -%}
    {{ texts[4].content }}
  </div>
  <div class="enpi-section enpi-section-logos">
    <div class="network-logo network-logo-1"></div>
    <div class="network-logo network-logo-2"></div>
    <div class="network-logo network-logo-3"></div>
    <div class="network-logo network-logo-4"></div>
    <div class="network-logo network-logo-5"></div>
  </div>
</div>