.enpi-section {

  @include cols($colspan: 1, $total-cols: 1);

  @media screen and (min-width: $breakpoint-phone-landscape + 0px) {
    flex: 0 0 50%;
  }

  @media screen and (min-width: $breakpoint-tablet-landscape + 0px) {
    @include cols($colspan: 6);
  }

  padding: 2rem;
  min-width: 0;
}

.material-icons-outlined.enpi-blue {
  color: $highlight-color01;
}

ul {
  list-style: none;
  margin: 0 0 0 2.8rem;
  padding: 0;

  li {
    text-indent: -2.8rem
  }

  li::before {
    content: "";
    background-image: url('/assets/img/check_circle_outline-black-18dp.svg');
    background-size: contain;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 1.3rem;
    margin-right: 0.5rem;
  }
}
